body {
    background-color: #f5f7fb; 
    margin: 0;
    font-family: montserrat;
    font-size: 15px;
    color: #1a213a;
}

.main-container {
    max-width: 1272px;
    margin: 38px auto 0px;   
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    background-color: white;
    box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.055);
    height: 336px;
    border-radius: 7px;
    border: 1px solid #d6dbe2;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    width: 935px;
    
}

.assesment {
    width: 292px;
}

.total-exam {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
    height: 213px;
    border-radius: 4px;
    background-color: #ffffff;
}

.fully-marked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
    height: 213px;
    border-radius: 4px;
    background-color: #ffffff;
}


.scand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 466px;
    height: 122px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #ffffff;
}

.not-scand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 465px;
    height: 122px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #ffffff;
}

.border-radious {
    width: 154px;
    height: 155px;
    background-color: #e6ebf0;
    border-radius: 82px;
    margin-right: 29px;
}

.border-radious h2 {
    text-align: center;
    font-size: 50px;
}

.border-radious .blue {
    color: #4d84fe;
}

.border-radious .green {
    color: #2ecc71;
}

.icon img {
    width: 36px;
    height: 45px;
}

.bottom-radious {
    width: 80px;
    height: 80px;
    background-color: #e6ebf0;
    border-radius: 82px;
    margin-right: 29px;
}

.bottom-radious h2 {
    text-align: center;
    font-size: 28px;
}

.bottom-radious .green {
    color: #2ecc71;
}

.bottom-radious .brown {
    color: #e74c3c;
}

.tabs {
    display: flex;
    width: 1272px;
    height: 122px;

}

.tabs .text-box {
    display: flex;
    align-items: center;
    width: 436px;
    background-color: #f5f7fb;
}

.text-box h3 {
    font-size: 22px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 835px;
    background-color: #f5f7fb
}

.button-box button {
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid #bec6d1;
    border-radius: 4px;
    background-color: #f5f3f3;
}

.button-box img {
    width: 23px;
    height: 23px;
    margin-right: 9px;   
}

.button-box .button-primary {
    padding: 8px 22px;
}



.button-box button:hover {
    background-color: #4d84fe;
    color: white;
}

.table-section {
    width: 1272px;
    height: 456px;
    border-collapse: collapse;
    text-align: center;
    background-color: #e5e6e9;
    margin-bottom: 54px;
}

.table-content {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    line-height: 67px;
    border-radius: 4px;    
    margin-top: 9px;
    border: 1px solid #dee9f1;
    box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.055);
}

thead {
    border: 1px solid #bec8d4;
    border-radius: 4px;
    font-size: 20px;
}

tbody {
    border: 2px 2px solid #d8e1e7;
    border-radius: 4px;
    font-size: 18px;
    
}

.table-content thead tr th {
    background-color: #dde3ea;
}

.table-content tr td {
    background-color: #ffffff;
    border-top: 10px solid #f1f3f7;
    border-radius: 4px;
    
}

tbody img {
    width: 35px;
    height: 17px;
}



/* MEDIA QURERY SECTION */



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-container {
        width: 940px;
        margin: 38px auto 0px;
    }

    .overview {
        width: 674px;
    }

    .total-exam {
        width: 335px;
    }

    .fully-marked {
        width: 335px;
    }

    .scand {
        width: 335px;
    }

    .not-scand {
        width: 335px;
    }

    .assessment-container {
        width: 250px;
    }

    .overview-container h1 {
        font-size: 16px;
        text-align: left;
        padding-left: 10px;
    }

    .assesment-container h1 {
        font-size: 16px;
        text-align: right;
        padding-right: 10px;
    }

    .assesment {
        width: 250px;
    }

    .tabs {
        width: 940px;
    }

    .text-box h3 {
        font-size: 16px;
    }

    .tabs .text-box {
        width: 300px;
    }

    .button-box .update {
        width: auto;
    }

    .button-box .push {
        width: auto;
    }

    .button-box .return {
        width: auto;
    }

    .button-box .lock {
        width: auto;
    }

    .button-box {
        width: 890px;
    }

    .table-section {
        width: 940px;
    }
}
  


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-container {
        width: 721px;
    }

    .overview {
        width: 504px;
    }

    .total-exam {
        width: 250px;
    }

    .fully-marked {
        width: 250px;
    }

    .scand {
        width: 250px;
    }

    .not-scand {
        width: 250px;
    }

    .assesment {
        width: 200px;
    }

    .border-radious {
        width: 115px;
        height: 120px;
    }

    .border-radious h2 {
        font-size: 39px;
    }

    .overview-container h1 {
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
    }

    .assesment-container h1 {
        font-size: 14px;
        text-align: right;
        padding-right: 10px;
    }

    .tabs {
        width: 721px;
    }

    .text-box h3 {
        font-size: 16px;
    }

    .button-box .button-primary {
        padding: 8px 25px;
    }

    .table-section {
        width: 720px;
    }

    thead {
        font-size: 16px;
    }

    tbody {
        font-size: 16px;
    }

    tbody img {
        width: 23px;
        height: 10px;
    }
}
  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px ) {

    .main-container {
        width: 544px;
    }

    .overview {
        width: 344px;
    }

    .total-exam {
        width: 170px;
    }

    .fully-marked {
        width: 170px;
    }

    .icon h4 {
        font-size: 12px;
    }

    .icon img {
        width: 26px;
        height: 30px;
    }

    .scand {
        width: 170px;
    }

    .not-scand {
        width: 170px;
    }

    .assesment {
        width: 184px;
    }

    .border-radious {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    .border-radious h2 {
        font-size: 28px;
    }

    .overview-container h1 {
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
    }

    .assesment-container h1 {
        font-size: 14px;
        text-align: right;
        padding-right: 10px;
    }

    .tabs {
        width: 721px;
    }

    .tabs .text-box {
        width: 170px;
    }

    .text-box h3 {
        font-size: 13px;
    }

    .button-box {
        width: 325px;
    }

    .button-box .button-primary {
        padding: 5px 4px;
        font-size: 10px;
        margin-right: 12px;
    }

    .button-box img {
        width: 18px;
        height: 15px;
    }

    .table-section {
        width: 540px;
    }

    thead {
        font-size: 16px;
    }

    tbody {
        font-size: 16px;
    }

    tbody img {
        width: 23px;
        height: 10px;
    }
}
    

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {

    .main-container {
        width: 339px;
    }

    .overview {
        width: 188px;
    }

    .total-exam {
        width: 92px;
    }

    .fully-marked {
        width: 92px;
    }

    .icon h4 {
        font-size: 6px;
    }

    .icon img {
        width: 16px;
        height: 18px;
    }

    .scand {
        width: 92px;
    }

    .not-scand {
        width: 92px;
    }

    .assesment {
        width: 145px;
    }

    .border-radious {
    width: 38px;
    height: 38px;
    margin-right: 3px;
    }

    .border-radious h2 {
        font-size: 14px;
    }

    .bottom-radious {
        width: 38px;
        height: 38px;
        margin-right: 5px;
    }

    .bottom-radious h2 {
        font-size: 14px;
    }

    .overview-container h1 {
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
    }

    .assesment-container h1 {
        font-size: 12px;
        text-align: right;
        padding-right: 10px;
    }

    .tabs {
        width: 88px;
    }

    .tabs .text-box {
        width: 135px;
    }

    .text-box h3 {
        font-size: 10px;
        margin-right: 5px;
    }

    .button-box {
        width: 325px;
    }


    .button-box button {
        height: 28px;
    }

    .button-box .button-primary {
        padding: 4px 2px;
        font-size: 8px;
        margin-right: 4px;
    }

    .button-box img {
        width: 18px;
        height: 15px;
    }

    .table-section {
        width: 340px;
    }

    thead {
        font-size: 10px;
    }

    tbody {
        font-size: 10px;
    }

    tbody img {
        width: 21px;
        height: 9px;
    }
}